<header class="mt-4 mb-4">
    <form action="{% url 'sns:create_posting' %}" enctype="multipart/form-data" method="POST">
    {% comment %} enctype : imag가 str로 안 가도록 (str이 default) {% endcomment %}
        {% csrf_token %}
        <div class="form-row align-itmes-cetner">

            <!-- icon select tag -->
            <div class="col-auto my-1">
                <label for="icon" class="sr-only">icon</label>
                <select name="icon" id="icon" class="custom-select mr-sm-2">
                    <option value="fas fa-question">?</option>
                    <option value="fas fa-smile">:)</option>
                    <option value="fas fa-angry">:(</option>
                    <option value="fas fa-smile-wink">;)</option>
                    <option value="fab fa-angrycreative">flex</option>
                    <option value="fas fa-heart">heart</option>
                </select>            
            </div>

            <!-- content input -->
            <div class="col-sm-6 my-1">
                <label for="content" class="sr-only">content</label>
                <input type="text" id="content" name="content" class='form-control' placeholder='feels like..'>
            </div>
            
            <!-- image file input -->
            <div class="col-sm-4 my-1 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">upload</span>
                </div>
                
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                    <label for="image" class="custom-file-label">choose image</label>
                </div>
            </div>
            <div class="col-auto my-1">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>

        </div>
        

        {% comment %} <div class="form-row align-items-center">
            <label for="content" class="sr-only">content</label>
            <input type="text" id="content" name="content">

            <input type="file" id="image" name="image" accept="image/*">
            <label for="image"></label>

            <button type="submit" class="btn btn-primary">submit</button>
        </div> {% endcomment %}
    </form>
</header>
